//USANDO VARIÁVEIS NAS CORES PARA NÃO TER QUE FICAR COLOCANDO CÓDIGO DA COR TODA HORA

$base : #0E0E0E;
$black : #0C0C0E;
$backCard : #131313;

$primaryRed : #DF2E31;
$secundaryRed : #800C0C;

$secondaryText : #606060;